@using Saaya.Web.Common.Extensions;
@using Saaya.Web.Utility;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Saaya</title>
    <link rel="icon" type="image/x-icon" href="/wwwroot/favicon.ico" />
    <link rel="stylesheet" href="/wwwroot/css/saaya-1st.css" asp-append-version="true" />
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', () => hljs.highlightAll());
    </script>
    <script src="/wwwroot/js/site.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>
</head>
<body>
    <nav class="saaya-header">
        <div class="saaya-header-left">
            <img src="/wwwroot/images/app-icon.png" alt="pfp" />
            <span class="saaya-header__label">
                Saaya
            </span>
            <a class="saaya-header-left__link" asp-controller="home" asp-action="index">Home</a>
            <a class="saaya-header-left__link" asp-controller="home" asp-action="about">About</a>
        </div>
        <div class="saaya-header-right">
            <ul class="saaya-header__list">
                <li class="saaya-header__item">
                </li>
                <li class="saaya-header__item">
                    <a class="saaya-header__button" asp-controller="blog" asp-action="index">Blog</a>
                </li>
                <li class="saaya-header__item">
                    <a class="saaya-header__button" href="https://discord.gg/Ky8AXeRgWt">
                        Discord
                        <img class="saaya-header__button-icon" src="https://assets-global.website-files.com/6257adef93867e50d84d30e2/636e0a6a49cf127bf92de1e2_icon_clyde_blurple_RGB.png" alt="discord" />
                        </a>
                </li>
                @if (Context.Session.IsAuthenticated())
                {
                    <li class="saaya-header__item">
                        <a class="saaya-header__button" asp-controller="admin" asp-action="logout">Logout</a>
                    </li>

                    @if (ViewContext.HttpContext.Session.HasRole(StaticDetails.Admin))
                    {
                        <li class="saaya-header__item">
                            <a class="saaya-header__button" asp-controller="admin" asp-action="index">Admin</a>
                        </li>
                    }
                }
            </ul>
        </div>
    </nav>

    <main role="main">
        @RenderBody()
    </main>

    <footer class="saaya-footer">
        <div class="saaya-footer__row">
            <div class="saaya-footer__column">
                <img class="saaya-footer__column--subsection__image" src="/wwwroot/images/app-icon.png" alt="pfp" />
            </div>
            <div class="saaya-footer__column">
                <span class="saaya-footer__column--subsection__header">SAAYA</span>
                <a class="saaya-footer__column--subsection__link" asp-controller="home" asp-action="about">About</a>
                <a class="saaya-footer__column--subsection__link" asp-controller="contact" asp-action="index">Contact</a>
                @*<a class="saaya-footer__column--subsection__link" asp-controller="home" asp-action="policy">Policy</a>*@
                <a asp-controller="api" asp-action="docs" class="saaya-footer__column--subsection__link">Saaya API</a>
            </div>
            <div class="saaya-footer__column">
                <span class="saaya-footer__column--subsection__header">SOCIAL</span>
                <a class="saaya-footer__column--subsection__link" href="https://github.com/Saaya-App">GitHub</a>
                <a href="https://twitter.com/aisysdev" class="saaya-footer__column--subsection__link">Twitter</a>
            </div>
        </div>
        <div class="saaya-footer__row">
            This page is a work in progress, and is a subject to change.
        </div>
        <div class="saaya-footer__row">
            &copy; 2023 Saaya App. All Rights Reserved.
        </div>
    </footer>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>