@{
    ViewData["Title"] = "API Docs";
}

<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__container-center">
        <span class="sp-liw__header-front">
            Work in Progress
        </span>
    </div>
    <div class="sp-liw__content-exclaim">
        <p>
            In the meantime, enjoy this gif.
        </p>
    </div>
    <div class="sp-liw__main-split__container" style="width: 100%;">
        <img class="sp-liw__main-split__image" src="https://thumbs.gfycat.com/AcademicLastingIrishdraughthorse-size_restricted.gif" alt="main" style="max-width: 60%; height: auto;" />
    </div>
</div>