@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="sp-liw__container">
    <div class="sp-liw__container-center">
        <span class="sp-liw__header-front">
            What's Saaya?
        </span>
    </div>
    <div class="sp-liw__content-exclaim">
        <p>
            Made with ❤️ by a solo developer.
            <br />
            Empower your music streaming experience, without interruptions.
            <br />
            You choose what you want to listen to.
        </p>
    </div>
</div>
<div class="sp-liw__container">
    <div class="sp-liw__container-center">
        <span class="sp-liw__header-front">
            Contribute
        </span>
    </div>
    <div class="sp-liw__content-exclaim">
        <p>
            If you are interested in seeing the project grow, consider contributing!
            <br />
            Below are some ways you can help:
        </p>
    </div>
</div>

<hr style="border: 1px solid transparent;" />

<div class="sp-liw__content-marquee">
    <ul class="sp-liw__marquee">
        <li class="sp-liw__marquee-item">
            <b>
                GitHub
            </b>
            <p style="font-size: 13px;">
                See an issue? Want to add a feature?
                <br />
                Create a pull request to contribute!
            </p>
            <a href="https://github.com/Saaya-App" class="saaya-header__button">GitHub ⟶</a>
        </li>
        <li class="sp-liw__marquee-item">
            <b>
                PayPal
            </b>
            <p style="font-size: 13px;">
                Want to support the project financially?
                <br />
                Head over to our PayPal!
                <br />
                Any amount is appreciated.
            </p>
                <a href="https://paypal.me/aisyshk" class="saaya-header__button">PayPal ⟶</a>
        </li>
    </ul>
</div>