@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="sp-liw__container">
    <div class="sp-liw__container-center">
        <span class="sp-liw__header-front">
            Saaya
        </span>
    </div>
    <div class="sp-liw__content" style="display: flex; justify-content: center;">
        Work in progress.
    </div>
</div>