@{
    ViewData["Title"] = "Home";
}

<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    The way you want it.
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    Empower your listening experience.
                    <br />
                    Add your favorite songs, and playlists, to your library, and stream when you want.
                </p>
            </div>
        </div>
        <div class="sp-liw__main-split__container">
            <img class="sp-liw__main-split__image" src="https://saaya.dev/wwwroot/images/SAAYA_Play_Page.png" style="transform: rotate(15deg);" alt="main" />
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container">
            <img class="sp-liw__main-split__image" src="https://saaya.dev/wwwroot/images/SAAYA_Song_Page.png" style="transform: rotate(-15deg);" alt="main" />
        </div>
        <div class="sp-liw__main-split__container">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Your Music, Your Choice.
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    As many songs as you want, for free.
                    <br />
                    No ads, no interruptions.
                </p>
            </div>
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Want to give it a try?
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    Sign up for the September 2023 beta test!
                </p>
                <a class="saaya-header__button" href="mailto:saaya-beta@aisys.dev?subject=[Saaya Beta]!&body=Hi, I'd love to partake in the beta test for Saaya app! My email is: <email>">Sign Up</a>
            </div>
        </div>
        <div class="sp-liw__main-split__container">
            <img class="sp-liw__main-split__image" src="https://saaya.dev/wwwroot/images/SAAYA_Settings_Page.png" style="transform: rotate(15deg);" alt="main" />
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container" style="width: auto;">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Do you wish to sponsor instead?
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    If you want to sponsor the development of this app, contact me by pressing the button below.
                </p>
            </div>
            <a class="saaya-header__button" href="mailto:alice@aisys.dev?subject=[Saaya Sponsor]&body=I want to sponsor the development of Saaya app.">Become a Sponsor</a>
        </div>
    </div>
</div>