@{
    ViewData["Title"] = "Home";
}

<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Your music, the way you want it.
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    Stream what you want, when you want, with no interruptions.
                    <br />
                    Empower your listening experience. Add your favorite songs to your library, and listen to them whenever you want.
                </p>
            </div>
        </div>
        <div class="sp-liw__main-split__container">
            <img class="sp-liw__main-split__image" src="https://raw.githubusercontent.com/Saaya-App/.github/main/profile/showcase/songs_overview.png" alt="main" />
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container" style="width: auto;">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Want to give it a try?
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    Sign up for the beta test, which will be released in September 2023!
                </p>
            </div>
            <a class="saaya-header__button" href="mailto:saaya-beta@aisys.dev?subject=[Saaya Beta]!&body=Hi, I'd love to partake in the beta test for Saaya app! My email is: <email>">Sign Up</a>
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container" style="width: auto;">
            <div class="sp-liw__container-center">
                <span class="sp-liw__header-front">
                    Do you wish to sponsor instead?
                </span>
            </div>
            <div class="sp-liw__content-exclaim">
                <p>
                    If you want to sponsor the development of this app, contact me by pressing the button below.
                </p>
            </div>
            <a class="saaya-header__button" href="mailto:alice@aisys.dev?subject=[Saaya Sponsor]&body=I want to sponsor the development of Saaya app.">Become a Sponsor</a>
        </div>
    </div>
</div>
<div class="sp-liw__container" style="gap: 5rem;">
    <div class="sp-liw__main-split">
        <div class="sp-liw__main-split__container" style="width: 100%;">
            <img class="sp-liw__main-split__image" src="/wwwroot/images/site-preview.png" alt="main" />
        </div>
    </div>
</div>