:root {
    --text: rgb(10, 10, 10);
    --background: rgb(250, 250, 250);
    --primary: rgb(81, 43, 212);
    --secondary: rgb(162, 142, 237);
    --tertiary: rgb(43, 11, 152);
    --quarternary: rgb(202, 182, 255);
    --accent: rgb(20, 20, 20);
    --light: #f8f9fa;
    --dark: #212529;
    font-family: "Noto Sans JP", "Noto Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin: 0;
    z-index: 1;
    overflow-wrap: break-word;
    overflow-x: hidden;
    box-sizing: border-box;
}

::selection {
    background: rgba(162, 142, 237, 0.4);
}

::-moz-selection {
    background: rgba(162, 142, 237, 0.4);
}

a {
    text-decoration: none;
    color: black;
}

.saaya-header {
    display: flex;
    border-bottom: 1px solid rgb(90, 90, 90);
    background-color: rgba(255, 255, 255, 0.5);
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5%;
    padding: 5px;
    gap: .75rem;
    margin: auto;
    backdrop-filter: blur(12px);
    z-index: 999;
}

@media screen and (max-width: 850px) {
    .saaya-header {
        flex-direction: column;
        height: auto;
    }

    .saaya-header-left {
        order: 1;
    }

    .saaya-header-right {
        order: 2;
        display: none;
    }

    .saaya-header__button {
        padding: 2px 8px 3px 8px;
        font-size: 12px;
    }
}

.saaya-header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding: 15px;
}

.saaya-header-left img {
    width: auto;
    height: 35px;
    border-radius: 50%;
}

.saaya-header-left__link {
    font-size: 14px;
    font-weight: 400;
    color: rgb(130, 80, 230);
}

.saaya-header-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    padding: 15px;
}

.saaya-header__list {
    display: flex;
    padding: 0;
    margin: 0;
    gap: 1rem;
    color: black;
    flex-wrap: wrap;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}

.saaya-header__item {
    list-style: none;
    margin: 0;
    padding: 0;
}

.saaya-header__item a {
    text-decoration: none;
}

.saaya-header__label {
    font-size: 1.5rem;
    font-weight: 600;
    word-wrap: unset;
}

.saaya-header__button {
    display: block;
    border-radius: 20px;
    border: 1px solid var(--primary);
    cursor: pointer;
    background-color: white;
    padding: 6px 35px 7px 35px;
    text-align: center;
    align-items: center;
    color: var(--primary);
    font-weight: 500;
    font-size: 16px;
    background-size: 100%;
    white-space: nowrap;
    transition: 0.2s cubic-bezier(.14,.45,.48,.98);
}

.saaya-header__button:hover {
    border: 1px solid white;
    background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 100%);
    box-shadow: 0 0 8px 1px rgba(81, 43, 212, 0.6);
    color: white;
}

.saaya-header__button-icon {
    width: 13px;
    height: 10px;
}

.saaya-header__image {
    justify-content: flex-start;
    width: auto;
    height: 35px;
    border-radius: 50%;
}

main {
    display: flex;
    flex-direction: column;
    width: 80%;
    padding: 55px 3px;
    margin: 0 auto;
    gap: 3rem;
}

@media (max-width: 950px) {
    main {
        padding: 175px 3px;
    }
}

.saaya-footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    color: rgb(70, 70, 70);
    background-color: rgb(245, 245, 245);
    padding: 30px 0 30px 0;
    border-top: 1px solid lightgray;
    font-size: 14px;
}

.saaya-footer__row {
    display: flex;
    flex-direction: row;
    width: 75%;
    gap: 1rem;
}

.saaya-footer__column {
    flex: 1;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: .5rem;
}

@media (max-width: 850px) {
    .saaya-footer__row {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: .53rem;
    }
}

.saaya-footer__column--subsection__image {
    width: 40px;
    height: auto;
    border-radius: 50%;
    border: 3px solid white;
}

.saaya-footer__column--subsection__header {
    font-size: 16px;
    font-weight: 600;
    color: rgb(50, 50, 50);
}

.saaya-footer__column--subsection__link {
    font-size: 15px;
    font-weight: 400;
    color: var(--secondary);
    transition: 0.2s cubic-bezier(.14,.45,.48,.98);
}

    .saaya-footer__column--subsection__link:hover {
        color: var(--tertiary);
    }

.sp-liw__header {
    border-bottom: 1px solid rgb(60, 60, 60);
    padding: 15px;
    padding-bottom: 45px;
}

.sp-liw__header-image {
    margin: 0 auto;
    min-width: 150px;
    width: 100%;
    max-width: 1200px;
    height: auto;
    display: block;
    border: 2px solid var(--accent);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-liw__header-title {
    font-size: 36px;
    font-weight: 700;
    padding: 2px;
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
}

.sp-liw__header-front {
    font-size: 68px;
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--primary), var(--tertiary));
    background-size: 100% auto;
    background-position: center;
    color: var(--primary);
}

@media (max-width: 850px)
{
    .sp-liw__header-front {
        font-size: 40px;
    }

    .sp-liw__content-exclaim > p {
        font-size: 18px;
    }
}

.sp-liw__header-back {
    font-size: 46px;
    font-weight: 800;
    -webkit-background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(to right, var(--primary), var(--tertiary));
    background-size: 100% auto;
    background-position: center;
    color: var(--tertiary);
}

.sp-liw__main-split {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.sp-liw__main-split__container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}

.sp-liw__main-split__container:first-child {
    width: 45%;
}

.sp-liw__main-split__image {
    overflow: hidden;
    width: 100%;
}

@media (max-width: 900px)
{
    .sp-liw__main-split {
        flex-direction: column;
    }

    .sp-liw__main-split__container:first-child {
        width: auto;
    }
}

.sp-liw__container-center {
    text-align: center;
}

.sp-liw__date--last_update {
    font-size: 14px;
    font-weight: 700;
    color: var(--accent);
    padding-left: 4px;
}

.sp-liw__date {
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

.sp-liw__container {
    padding: 10px;
}

.sp-liw__break {

}

.sp-liw__content {
    font-size: 16px;
    padding: 2px;
}

.sp-liw__content-exclaim {
    font-size: 24px;
    font-weight: 400;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.sp-liw__content-image {
    margin: 0 auto;
    min-width: 200px;
    width: 80%;
    max-width: 750px;
    height: auto;
    display: block;
    border: 2px solid var(--accent);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-liw__content-marquee {
    width: 100%;
    height: 350px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.sp-liw__marquee {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 1rem;
}

.sp-liw__marquee-item {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(235, 235, 235);
    border-radius: 25px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    height: auto;
    max-height: 350px;
    min-width: 200px;
    width: auto;
    max-width: 250px;
    box-shadow: 1px 1px 5px 0 rgba(200, 200, 200, 0.5);
}

.sp-liw__marquee-image {
    height: 85px;
    width: 85px;
    border-radius: 50%;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@keyframes marquee {
    0% {
        transform: translateX(70);
    }
    100% {
        transform: translateX(-70%);
    }
}

@media (max-width: 900px) {
    .sp-liw__content-marquee {
        overflow-x: auto;
    }
}

.sp-liw__emoji {
    display: inline-block;
    vertical-align: middle;
    width: 1.375em;
    height: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.sp-liw__emoji-info {
    position: fixed;
    display: inline-block;
    background-color: white;
    color: var(--primary);
    text-align: center;
    padding: 8px;
    border: 1px solid var(--tertiary);
    box-shadow: 0 0 5px 0 rgba(162, 142, 237, 0.5);
    border-radius: 8px;
    z-index: 10000;
    opacity: 0;
    pointer-events: none;
    transition: .75s cubic-bezier(.14,.45,.48,.98);
}

.sp-liw__emoji:hover .sp-liw__emoji-info {
    visibility: visible;
}

strong code {
    color: var(--accent);
}

.sp-liw__posts--list {
    display: flex;
}

@media (max-width: 950px) {
    .sp-liw__posts--list {
        flex-direction: column;
    }
}

.sp-liw__posts--list__primary {
    flex: 0 0 60%;
    padding: 5px;
}

.sp-liw__posts--list__secondary {
    flex: 0 0 40%;
    padding: 10px;
}

.sp-liw__posts--list__secondary-title {
    font-size: 16px;
    font-weight: 700;
    font-style: normal;
}

.sp-liw__posts--list__secondary-date {
    font-size: 14px;
    font-weight: 600;
    font-style: normal;
    color: var(--accent);
}

.sp-liw__posts--excerpt {
    font-size: 15px;
    font-weight: 400;
    font-style: italic;
    color: var(--accent);
}

.sp-liw__posts--divider {
    padding-top: 35px;
    padding-bottom: 35px;
}

.sp-liw__posts-related--list {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 35px 10px 0px 10px;
    margin: 0;
    gap: 1rem;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-between;
}

.sp-liw__posts-related--item {
    display: flex;
    flex-direction: row;
}

.sp-liw__posts--link__container {
    gap: 3rem;
}

.sp-liw__posts-related--item a {
    transition: 0.1s cubic-bezier(.14,.45,.48,.98);
}

.sp-liw__posts-related--item a:hover {
    color: var(--secondary);
    font-size: 26px;
}

.sp-liw__posts-related--item__title {
    font-size: 24px;
    font-weight: 500;
}

.sp-liw__form-input {
    font-size: 18px;
    font-weight: 400;
    color: var(--accent);
}

.saaya-timeline_wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.saaya-timeline__numerals {
    display: flex;
    padding: 5px;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}

.saaya-timeline__num {
    color: var(--secondary);
    font-weight: 500;
    -webkit-transform: rotate(-45deg);
}

.saaya-timeline {
    display: flex;
    width: 100%;
    padding: 5px;
}

.saaya-timeline__events {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
}

.saaya-timeline__event {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    background-color: var(--quarternary);
    appearance: none;
    transition: 0.25s cubic-bezier(.14,.45,.48,.98);
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

input[type="radio"]:hover {
    background-color: var(--tertiary);
}

.saaya-timeline__date {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 5px;
    color: var(--tertiary);
    white-space: nowrap;
    position: relative;
}

.saaya-timeline__description {
    font-size: 16px;
    font-weight: 400;
}

.saaya-timeline__line {
    width: 100%;
    height: 8px;
    background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 100%);
    border-radius: 10px;
    display: flex;
}

.saaya-timeline::-webkit-scrollbar {
    width: 10px;
}

.saaya-timeline::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 5px;
}

.saaya-timeline::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

.saaya-timeline__event-details {
    position: fixed;
    padding: 5px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    border: 1px solid var(--primary);
    max-height: 100px;
    max-width: 325px;
    border-radius: 10px;
    box-shadow: 0 0 8px 0 rgba(162, 142, 237, 0.5);
    z-index: 999999;
}